/*!* hebrew *!*/
@font-face {
    font-family: 'Assistant';
    font-weight: 300;
    src: url('./Assistant-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Assistant';
    font-weight: 400;
    src: url('./Assistant-Light.woff') format('woff');
}

@font-face {
    font-family: 'Assistant';
    font-weight: 500;
    src: url('./Assistant.woff') format('woff');
}

@font-face {
    font-family: 'Assistant';
    font-weight: 600;
    src: url('./Assistant-SemiBold.woff') format('woff');;
}

@font-face {
    font-family: 'Assistant';
    font-weight: 700;
    src: url('./Assistant-Bold.woff') format('woff');
}